/* ==== Estilos Gerais ==== */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: azure;
    color: darkblue;
}

header, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 20px 0;
}

/* ==== Grid Principal ==== */
.container {
    display: grid;
    grid-template-columns:repeat(3,1fr); /* 3 colunas iguais */
    grid-template-rows: 150px 150px 150px; /* 3 linhas iguais */
    gap: 15px;
    padding: 20px;
    background-color: blanchedalmond;
    margin: 20px auto;
    max-width: 900px;
    border-radius:10px;
}

/* === Itens do Grid === */

.item {
    background-color: steelblue;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === Posicionamento Manuel === */
/* Item1 ocupa 2 colunas e uma linha */

.item1 {
    background-color: darkblue;
    grid-column: 1 / 3; /* ocupa da coluna 1 até a terceira coluna */
    grid-row: 1 / 2; /* ocupa só a primeira linha */
}

/* Item2 ocupa 1 coluna, mas 2 linhas */

.item2 {
    background-color: orangered;
    grid-column: 3 / 4; /* terceira coluna */
    grid-row: 1 / 3; /* ocupa da linha 1 até 3 */
}

.item3 {
    background-color: aquamarine;
}

.item4 {
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 2 / 3;

}

.item5 {
    background-color: blueviolet;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.item6 {
    background-color: black;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.container {
    justify-content: center;
    align-items: center;
}
